<div class ="jumbotron center">
	<h1>Eyeball</h1>

	<% if user_signed_in? %>
		Welcome Back!
	<% else %>

	<p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
	</p>
	<% end %>
</div>
<!--THIS IS HTML <a href="#">Here!</a> -->

<!-- erb is for embedded ruby -->
