<div class ="jumbotron center">
	<h1>Projects</h1>
		<p>These are some of the projects we have been working on! Enjoy!
		</p>
	<table class="table">
 	 	<thead>
 	 		<tr>
 	 			<th>Teams</th>
 	 			<th>Hunter</th>
 	 			<th>Tank</th>
 	 			<th>Magic</th>
 	 		</tr>
 	 	</thead>
 	 	<tbody>
 	 		<tr>
 	 			<th scope="row">1</th>
 	 			<td>Mark</td>
 	 			<td>Otto</td>
 	 			<td>MD</td>
 	 		</tr>
 	 		<tr>
 	 			<th scope="row">2</th>
 	 			<td>Johnny</td>
 	 			<td>Susana</td>
 	 			<td>Jeffery</td>
 	 		</tr>
 	 		<tr>
 	 			<th scope="row">3</th>
 	 			<td>Hank</td>
 	 			<td>Todd</td>
 	 			<td>Billy</td>
 	 		</tr>
 	 	</tbody>
	</table>

</div>

<p class="bg-info text-center">This is how we do it</p>

<blockquote>
	<p class="text-info">this is how we do it</p>
	<li class="text-info">this is how we do it</li>
</blockquote>



